name: Release Binary

on:
  release:
    types:
      - published
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libglib2.0-dev pkg-config

      - name: Install additional dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgdk-pixbuf2.0-dev libgtk-3-dev pkg-config

      - name: Install additional dependencies for libsoup
        run: |
          sudo apt-get update
          sudo apt-get install -y libsoup2.4-dev pkg-config

      - name: Install additional dependencies for WebKitGTK
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.0-dev pkg-config

      - name: Build the binary
        env:
          PKG_CONFIG_ALLOW_SYSTEM_CFLAGS: 1
        run: |
          cd src-backend
          cargo build --release

      - name: Debug: List target/release directory
        run: ls -al target/release

      - name: Upload Release Asset
        if: github.event_name == 'release'
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: target/release/drive-pulse
          asset_name: drive-pulse
          asset_content_type: application/octet-stream
