name: Release Binary

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libglib2.0-dev pkg-config

      - name: Install additional dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgdk-pixbuf2.0-dev libgtk-3-dev pkg-config

      - name: Build the binary
        env:
          PKG_CONFIG_ALLOW_SYSTEM_CFLAGS: 1
        run: |
          cd src-backend
          cargo build --release

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: target/release/drive-pulse
          asset_name: drive-pulse
          asset_content_type: application/octet-stream
